body
{
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

textarea
{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    position: absolute;
    width: 95%;
    background: transparent;
}